@import './constants.scss';

#blog-preview {
  .image-border {
    .image-container {
      background-position: center 10%;
      background-size: cover;
      height: 30vw;
      max-height: 250px;
      min-height: 200px;
      overflow: hidden;
    }
  }

  h2 {
    margin: 10px 0;
  }
    
  p {
    color: $gray;
  }
}


