@import './constants';

#home {
  display: flex;
  justify-content: center;
  
  .container {
    margin-top: $content-top-margin;
    max-width: $content-max-width;
    width: $content-width;
    
    .content {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .image {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
        line-height: 0;
        padding: 5px;
        width: 35vw;

        img {
          max-width: 300px;
          width: 35vw;
        }
      }

      .about {
        margin-left: 50px;

        h1 {
          font-size: 3em;
          margin-bottom: 8px;
        }
        
        p {
          color: $gray;
        }
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .container {
      .content {
        align-items: center;
        display: block;
        text-align: center;
        
        .image {
          display: inline-block;
          max-width: 350px;
          width: $content-width;

          img {
            max-width: 350px;
            width: $content-width;
          }
        }

        .about {
          margin: calc(#{$content-top-margin} / 2) 0 0;
          text-align: left;
        }
      }
    }
  }
}
